body{
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    
    color:white;
    background-image: url(img/background.jpg);
    background-size: 40vw;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(0px, 2.5vw, 18px);
}

a{
    color: white;
}

.catches-container{
    margin: 3vh 0 0 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logout>a{
    padding: 1vw;
    padding-right: 5vw;
}

.fishes_left{
    width: 100%;
    position: relative;
}

.fishes_left>h2{
    position: relative;
    display: flex;
    justify-content: center;
}

.fishes_left>table{
    position: relative;
    display: flex;
    justify-content: center;
    border: 0;
}

.buttons{
    margin-top: 4vw;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.buttons>form{
    float: left;
    position: relative;
    margin: 2vw;
}

.buttons>form>button{
    width: clamp(0px, 100%, 20vw);
    font-size: clamp(0px, 1vw, 18px);
    height: clamp(0px, 4.5vw, 100px);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 1vw;
    border-radius: 5vw;
    background-color:aliceblue;
    color: black;
}

.buttons>form>button:hover{
    background-color:black;
    color: aliceblue;
    transition: 0.2s;
}

#img_start
{
    position: absolute;
    z-index: 10;
    top: 5vh;
    left: 5vh;
}

#img_start > img{
    width: 5vw;
}

.catch-item {
    border: 1px solid #ccc;
    padding: 0 0 0 3vh;
    display: flex;
    float: left;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.opis_ryby{
    margin: 1vh 0;
}

.login_form_log>form{
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login_linia{
    height: 4vw;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.login_opis{
    width: 47%;
    float: left;
    display: flex;
    justify-content: right;
    padding-right: 3%;
    height: 2vw;
}

.login_input{
    width: 30%;
    float: left;
    height: 2vw;
}

.login_topka_info{
    width: 100%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-size: 2vw;
}

.login_button{
    width: clamp(0px, 100%, 10vw);
    font-size: clamp(0px, 1vw, 18px);
    height: clamp(0px, 4vw, 100px);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 1vw;
    margin-top: 4vw;
    border-radius: 5vw;
    background-color:aliceblue;
    color: black;
}

.login_button:hover{
    background-color:black;
    color: aliceblue;
    transition: 0.2s;
}

.catch-photos{
    height: 100px;
}

.img_shadow{
    height: 100px;
    width: 100px;
    float: left;
    position: relative;
}

.img_shadow:hover{
    box-shadow: 8px 8px 24px 0px rgba(255, 255, 255, 1);
}

.crop_photo{
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.catch-photos img {
    cursor: pointer;
    width: 100px;
}

/* KOMPUTER */
@media (min-width: 768px) {

    .catch-info, .catch-photos, .catch-action {
        flex: 1;
    }

    .catch-photos img {
        max-width: 100px;
        height: auto;
        margin-right: 10px;
    }
}

/* TELEFON */
@media screen and (max-width: 767px) {
    .catch-photos, .catch-action {
        margin-top: 10px;
    }
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }